<div ng-controller="recordingController" class="container">
    <h2> Recordings Scheduled </h2>
    <table class="table">
        <tr>
            <th>Job ID</th>
            <th>RFSN ID</th>
            <th>Session Name</th>
            <th>Date and Time</th>
            <th>Local Path</th>
            <th>Backup Path</th>
            <th>Frequency(megahertz)</th>
            <th>Length(sec)</th>
            <th>Gain(db)</th>
        </tr>
        <tr ng-repeat="x in recordings">
            <td>[[ x.job_id ]]</td>
            <td>[[ x.rfsn ]] </td>
            <td>[[ x.session ]] </td>
            <td>[[ x.datetime ]]</td>
            <td>[[ x.local_path ]]</td>
            <td>[[ x.backup_path ]]</td>
            <td>[[ (x.freq) / 1000000 ]]</td>
            <td>[[ x.length ]]</td>
            <td>[[ x.gain ]]</td>
        </tr>
    </table>
</div>
