<div>
	<h2>RFSNS</h2>
	<div ng-controller = "testController">
	   <button class="btn btn-primary" ng-click="uploadFile()">Node 1: ON/OFF</button>
		 <button class="btn btn-primary" ng-click="uploadFile()">Node 2: ON/OFF</button>
     <button class="btn btn-primary" ng-click="uploadFile()">Node 3: ON/OFF</button>
     <button class="btn btn-primary" ng-click="uploadFile()">Node 4: ON/OFF</button>
     <button class="btn btn-primary" ng-click="uploadFile()">Node 5: ON/OFF</button>
     <button class="btn btn-primary" ng-click="uploadFile()">Node 6: ON/OFF</button>
</div>
